@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

li{
    display: inline;
    padding: 0px 5px 10px 15px;
    float: right;
}
a{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: blueviolet;
}
a:hover{
    background-color: black;
    animation-duration: 1rem;
}